<div class="row">
    <div class="col s12">
        <div class="page-subtitle">
            <h4>Позиции:</h4>
            <button class="waves-effect waves-light btn grey darken-1 btn-small"
            (click)="onAddPosition()">
                Добавить позицию
            </button>
        </div>

        <div *ngIf="loading === false; else loader">
            <div class="collection" *ngIf="positions.length !== 0; else empty" >
                <a class="collection-item collection-item-icon" *ngFor="let position of positions" (click)="onSelectPosition(position)">
                    <span>
                        {{position.name}} <strong>{{position.cost}} руб.</strong>
                    </span>
                    <span (click)="onDeletePosition($event, position)">
                        <i class="material-icons">delete</i>
                    </span>
                </a>
            </div>

            <ng-template #empty>
                <div class="center">
                    Позиций не найдено!
                </div>
            </ng-template>
        </div>

        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>
</div>







<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal" #modal>
        <div class="modal-content">
            <h4 class="mb1">Добавить позицию</h4>
            <div class="input-field">
                <input id="pos-name" type="text" formControlName="name" 
                [ngClass]="{'invalid': form.controls['name'].invalid && form.controls['name'].touched}">
                <label for="pos-name">Название</label>
                <span class="helper-text red-text" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                    <span *ngIf="form.controls['name'].errors?.required">
                        Название не может быть пустым
                    </span>
                </span>
            </div>
            <div class="input-field">
                <input id="pos-cost" type="number" min="1" formControlName="cost"
                    [ngClass]="{'invalid': form.controls['cost'].invalid && form.controls['cost'].touched}">
                <label for="pos-name">Цена</label>
                <span class="helper-text red-text" *ngIf="form.controls['cost'].invalid && form.controls['cost'].touched">
                    <span *ngIf="form.controls['cost'].errors?.required">
                        Цена  не может быть пустой
                    </span>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="onCancel()" 
            class="modal-action waves-effect waves-black btn-flat"
            [disabled]="form.disabled">Отмена</button>


            <button type="submit" class="modal-action btn waves-effect"
            [disabled]="form.invalid || form.disabled">Сохранить</button>
        </div>
    </div>
</form>
